.PlaylistTable-spotifyLinkCol {
  width: 2.3em;
}

.PlaylistTable-checkboxCol {
  width: 2rem;
}

td.PlaylistTable-checkboxCell {
  position: relative;
}

.PlaylistTable-checkboxLabel {
  background-color: rgba(0, 0, 0, 0.02);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
