.TrackTable-header {
  border: 1px solid #ddd;
  padding: 1rem;
}

.TrackTable-header.is-open {
  border-bottom-color: transparent;
}

.TrackTable-dateCol {
  visibility: collapse;
  width: 0;
}

@media screen and (min-width: 500px) {
  .TrackTable-dateCol {
    width: 6.3rem;
    visibility: visible;
  }
}

.TrackTable-time {
  margin-left: 0.25em;
  display: none;
}

@media screen and (min-width: 650px) {
  .TrackTable-dateCol {
    width: 9rem;
  }
  .TrackTable-time {
    display: inline;
  }
}

.TrackTable td:nth-child(2),
.TrackTable th:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
  width: 24px;
}
