html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ps-table td {
  white-space: nowrap;
  max-width: 1px;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer; /* Move elsewhere */
}

.ps-table td:last-child,
.ps-table th:last-child {
  text-align: center;
  width: 2.3em;
}

/** Utils **/

/**** Whitespace ****/
.ps-m {
  margin: 1rem;
}

.ps-m-t {
  margin-top: 1rem;
}

/***** End Whitespace ****/

/***** Flex ****/

.ps-align-self-end {
  align-self: flex-end !important;
}

.ps-shrink-1 {
  flex-shrink: 1 !important;
}

/***** End Flex ****/
