html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.actionBar {
  min-height: 2.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.actionBar-title {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.actionBar-edit {
  min-width: 66px;
}

table.ps-no-wrap td {
  white-space: nowrap;
  max-width: 1px;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer; /* Move elsewhere */
}

.hiddenCol {
  visibility: collapse;
  width: 0 !important;
}

/** Utils **/

/**** Whitespace ****/
.ps-m {
  margin: 1rem;
}

.ps-m-t {
  margin-top: 1rem;
}

/***** End Whitespace ****/

/***** Flex ****/

.ps-justify-content-end {
  justify-content: flex-end;
}

.ps-align-self-end {
  align-self: flex-end !important;
}

.ps-shrink-1 {
  flex-shrink: 1 !important;
}

/***** End Flex ****/
