html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.actionBar {
  min-height: 2.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.actionBar-title {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.actionBar-edit {
  min-width: 66px;
}

.ps-layout-fixed {
  table-layout: fixed;
}

table.ps-no-wrap td,
table.ps-no-wrap th {
  white-space: nowrap;
  /*max-width: 1px;*/
  text-overflow: ellipsis;
  overflow: hidden;
}

.hiddenCol {
  visibility: collapse;
  width: 0 !important;
}

/** Utils **/

/****** Whitespace ******/
.ps-m {
  margin: 1rem;
}

.ps-m-t {
  margin-top: 1rem;
}

.ps-m-r {
  margin-right: 1rem;
}

.ps-space-r {
  margin-right: 0.25em;
}

/**** End Whitespace ****/

/****** Flex ******/

.ps-justify-content-end {
  justify-content: flex-end;
}

.ps-align-self-end {
  align-self: flex-end !important;
}

.ps-shrink-1 {
  flex-shrink: 1 !important;
}

/**** End Flex ****/

/****** Colors ******/
.ps-danger-bg {
  background-color: #d64848;
}
/**** End Colors ****/
